@import 'https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap';

@mixin name {
  padding: 0.1rem 0.5rem 0.2rem;
  border-radius: 100rem;
  font-weight: 300;
  font-family: Ubuntu, sans-serif;
}

$base-color: #343e4d;
$border: 0.4rem solid $base-color;

.logoContainer {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;

  .firstName {
    @include name;

    background-color: $base-color;
    padding-right: 0;
    word-spacing: 0;
    border: $border;
  }

  .lastName {
    @include name;

    position: relative;
    background-color: #1c83e3;
    margin-left: 0.3rem;
    padding-left: 0.5rem;
    padding-right: 0.6rem;
    z-index: 1;
    outline: $border;
  }

  .npm {
    @include name;

    position: relative;
    background-color: #cc3534;
    font-weight: 700;
    margin-left: -1em;
    padding-left: 1.4em;
    z-index: 0;
  }
}
