@use '../../../mixins' as *;
@use 'sass:color';

$danger-button-color: #d64747;

.formContainer {
  width: 100%;

  .objectHeading {
    font-size: 1.25em;
    font-weight: 600;
    margin: 0;
  }

  label {
    margin-bottom: 0.5rem;
  }

  .removeButton {
    &:disabled {
      cursor: not-allowed !important;
      pointer-events: all !important;

      &:active {
        background-color: #dc3545 !important;
        border-color: #dc3545 !important;
      }
    }

    svg {
      scale: 1.1;
      margin-bottom: 0.2em;
    }
  }

  .headerContainer {
    @include flex-display(row, space-between);

    width: 100%;
    height: 2.38rem;
    margin-bottom: 1em;
    margin-top: 1.5em;

    &.nestedMargin:first-child {
      margin-top: 0.25em;
    }
  }

  .objectContainer {
    h1 {
      scroll-margin-top: 6em;
    }

    &:global(.form-control) {
      margin-top: 1.75em;
    }
  }

  .generatorError {
    margin: 2rem 0;
    color: #721c24;
    background-color: #f8d7da;
    width: 100%;
    padding: 1em;
    font-weight: 600;
    border-radius: 0.5em;
    text-align: center;
  }

  .editorWrapper {
    background-color: #1e1e1e;
    padding: 0.75rem 0;
    border-radius: 0.5em;
  }
}
